:root {
  --main-bg-color: #f7fff3;
  --pink-light: #fad4c8;
  --pink-dark: #e8b9ab;
  --raisin-black: #211d1d;
  --dim-gray: #747373;
  --jet: #2A2A2A;
}


body {
  font-family: "Jua", serif;
  background-color: var(--main-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 50px 350px;
  row-gap: 15px;
} 

h1 {
  text-align: left;
  font-size: 30px;
  margin: 0;
}

footer {
  text-align: center;
  color: var(--dim-gray);
}
